*{
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  font-size: 3rem;
  color: white;
  user-select: none;
  text-align: center;
}

.container{
  display: inline-block;
  background-color: black;
  padding: 100px 15px 30px;
  border-radius: 10px;
  

  width: 350px;
}

.text{
  color: white;
  text-align: right;
  letter-spacing: 0.3rem;
  margin-bottom: 0.5em;
}

.table-body{
  display: grid;
  grid-template-columns: repeat(4, 4rem);
  /* grid-template-rows: repeat(5, 1fr); */
  grid-template-areas:
        "a b c d"
        "e f g h"
        "i j k l"
        "m n o p"
        "q q r s";
  justify-items: stretch;
  justify-content: space-between;
  align-items: center;
  gap: 0.2em;
}

.button{
  background-color: rgb(61, 61, 60);
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 0.88em 1.2em; */
  /* text-align: center; */
  border-radius: 100px;
  height: 4rem;
  transition: background-color 0.5s;
}

.button:hover{
  cursor: pointer;
}

.button-adding{
  background-color: rgb(171, 173, 175);
  color: black;
  font-size: 1.3rem;
  padding: 0.99em 0.87em;
}

.button-math{
  background-color: rgb(226, 177, 17);
  /* font-weight: 700; */
  font-size: 1.8rem;
  padding: 0.56em;
}

.button_num_active{
  background-color: rgb(125, 127, 129);;
}

.button_math_active{
  background-color: rgb(226, 142, 17);
}

@media (max-width: 700px) {
  :root{
    font-size: 1.3em;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100vw;
    height: 100vh;
  }

  .table-body{
    grid-template-columns: repeat(4, 20vw);
  }

  .button{
    height: 20vw;
  }
}